[submodule "home/.zsh/zsh-completions"]
	path = home/.zsh/zsh-completions
	url = https://github.com/zsh-users/zsh-completions.git
[submodule "home/.zsh/z"]
	path = home/.zsh/z
	url = https://github.com/rupa/z
[submodule "home/.oh-my-zsh"]
	path = home/.oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "home/.vim/bundle/neobundle.vim"]
	path = home/.vim/bundle/neobundle.vim
	url = https://github.com/Shougo/neobundle.vim
[submodule "home/.vim/bundle/nerdtree"]
	path = home/.vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "home/.vim/bundle/unite.vim"]
	path = home/.vim/bundle/unite.vim
	url = https://github.com/Shougo/unite.vim.git
[submodule "home/.vim/bundle/neosnippet-snippets"]
	path = home/.vim/bundle/neosnippet-snippets
	url = https://github.com/Shougo/neosnippet-snippets.git
[submodule "home/.vim/bundle/neosnippet"]
	path = home/.vim/bundle/neosnippet
	url = https://github.com/Shougo/neosnippet.vim.git
[submodule "home/.vim/bundle/neocomplcache"]
	path = home/.vim/bundle/neocomplcache
	url = https://github.com/Shougo/neocomplcache.vim.git
[submodule "home/.vim/bundle/vim-quickhl"]
	path = home/.vim/bundle/vim-quickhl
	url = https://github.com/t9md/vim-quickhl.git
