[user]
  name = budougumi0617
  email = budougumi0617@gmail.com
[color]
  ui = auto
[alias]
  br = branch
  co = checkout
  sw = switch
  rs = restore
  ci = commit
  st = status
  graph = log --graph --date-order -C -M --pretty=format:\"<%h> %ad [%an] %Cgreen%d%Creset %s\" --all --date=short
  list = log --pretty=format:\"<%h> %ad [%an] %Cgreen%d%Creset %s\" --date=short
  df = diff
  change = codereview change
  gofmt = codereview gofmt
  mail = codereview mail
  pending = codereview pending
  submit = codereview submit
  sync = codereview sync
  review = "!f(){ git fetch -f upstream pull/$1/head:review;};f"
  stl = !git stash list | fzf --preview 'echo {} | grep -o stash@{.*} | xargs git stash show -p --color=always' --height 90% | grep -o stash@{.*}
[core]
  autoCRLF = false
  excludesfile = ~/.gitignore_global
[push]
  default = matching
[difftool "sourcetree"]
  cmd = opendiff \"$LOCAL\" \"$REMOTE\"
  path = 
[mergetool "sourcetree"]
  cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
  trustExitCode = true
[ghq]
  root = ~/go/src
[commit]
  template = ~/.commit_template
[url "git@github.com:"]
  insteadOf = "https://github.com/"
[url "git@github.com:"]
  pushInsteadOf = "https://github.com/"
[http]
  cookiefile = ~/.gitcookies
[secrets]
  providers = git secrets --aws-provider
  patterns = [A-Z0-9]{20}
  patterns = (\"|')?(AWS|aws|Aws)?_?(SECRET|secret|Secret)?_?(ACCESS|access|Access)?_?(KEY|key|Key)(\"|')?\\s*(:|=>|=)\\s*(\"|')?[A-Za-z0-9/\\+=]{40}(\"|')?
  patterns = (\"|')?(AWS|aws|Aws)?_?(ACCOUNT|account|Account)_?(ID|id|Id)?(\"|')?\\s*(:|=>|=)\\s*(\"|')?[0-9]{4}\\-?[0-9]{4}\\-?[0-9]{4}(\"|')?
  allowed = AKIAIOSFODNN7EXAMPLE
  allowed = wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY
[include]
  path = .gitconfig.local
[web]
    browser = open
[browser "chrome"]
    cmd = open -a 'Google Chrome.app'
[rebase]
	autostash = true
