" jjをESCキー
inoremap <silent> jj <esc>
" CTRL-jをESCキー
inoremap <silent> <C-j> <esc>

" 検索設定
" 検索するときに大文字小文字を区別しない
set ignorecase
" 小文字で検索すると大文字と小文字を無視して検索
set smartcase
" 検索がファイル末尾まで進んだら、ファイル先頭から再び検索
set wrapscan
" インクリメンタル検索 (検索ワードの最初の文字を入力した時点で検索が開始)
set incsearch
" 検索結果をハイライト表示
set hlsearch


" ウィンドウの幅より長い行は折り返され、次の行に続けて表示される
set wrap

" macOSのクリップボードにコピーする
set clipboard+=unnamed

" "\"から<leader>を変更
let mapleader = "\<Space>"
" GoLandではテストの再実行がRerunTestsではなく、Rerunのようだ
map <leader>r <Action>(Rerun)

" マウスホバーしたときの情報を表示する
" ref: https://zenn.dev/sdb_blog/articles/003-idea_with_vim
nmap <leader>k <Action>(ShowHoverInfo)

" インタフェースの実装に移動する
nmap gi <Action>(GotoImplementation)

" ファイル内のエラー箇所にジャンプする"
nmap [q <Action>(GotoPreviousError)
nmap ]q <Action>(GotoNextError)
